a:link, a:visited{
	color:black;
	text-decoration:none;
	background-color:lightblue;
	border:3px solid black;
	border-radius:5px;
	display: inline-block;
	width:150px;
	text-align:center;
}
a:active{
	color:silver;
	text-decoration:none;
	background-color:black;
	border:1px dashed silver;
	border-radius:5px;
	display: inline-block;
	width:150px;
	text-align:center;

}
a:hover{
	color:white;
	text-decoration:none;
	background-color:blue;
	border:1px dotted yellow;
	border-radius:5px;
	display: inline-block;
	width:150px;
	text-align:center;


}
